
:root {
  --color-1: #009688;
  --color-2: #b2dfdb;
  --color-3: #64ffda;
  --color-4: #00bfa5;
  --background-color:#fafafa;
  --dark-background-color:#eeeeee;
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

* {
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-size:1.5vh;
  font-weight: 400;
  overflow: hidden;
  background-color: var(--background-color);
}

.content, .header, .projects{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100vw;
  height: 5vh;
  background-color: var(--color-4);
  color: white;
  font-weight: 600;
  font-size: 3vh;
  position: sticky;
  z-index: 999;
  top: -10px;
 box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.content {
  padding: 3%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "projects-container tasks-container";
  gap: 1rem;
}

.projects-container{
  grid-area: projects-container;
  flex-direction: column;
  justify-content: flex-start;
 
}

#project-name {
  width: 70%;
}

.projects-container, .tasks-container{
  height: 85vh;
  padding: 1rem;
  /* gap: 1rem; */
  background: white; 
  box-shadow: var(--box-shadow);
  border-radius: 12px;
  align-items: center;
  justify-content: flex-start;
}


.projects-container>h1, .tasks-container>h1 {
  font-weight: 600;
  font-size: 2vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.tasks-container{
  grid-area: tasks-container;
}

.tasks-input, .project-input {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding:1rem;
}


.tasks-filters, li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tasks-filters{
  padding: 1rem;
  border-bottom: 3px solid var(--dark-background-color);
  width: 100%;
  margin-top: 2rem;
  justify-content: space-evenly;
}

.tasks-filters span{
  /* margin: 0 1rem; */
  font-size: 1.5vh;
  cursor: pointer;
  font-weight: 600;
  color: #757575;
}

.tasks-filters span:first-child{
  margin-left: 0;
}

.tasks-filters span.active{
  color: var(--color-4);
}

.tasks-box{
  width: 100%;
}

.todo-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  margin: 0.2rem;
  font-weight: 500;
  width: 100%;
}

.todo-item-buttons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 10%;
}

#taskTitle{
  user-select: none;
  word-wrap: break-word;
}
#taskTitle.checked{
  text-decoration: line-through;
}

.priority{
  text-align: right;
  color: var(--color-4);
}



input, label, option {
  display: inline-block;
  margin: 1.2rem;
}

label {
  font-weight: 500;
}

input[type='text']{
  font-family: inherit;
  width: 40%;
  border: 0;
  border-bottom: 2px solid var(--color-3);
  outline: 0;
  font-size: 1.5vh;
  padding: 7px 0;
  transition: var(--color-3) 0.2s;
}

input[type='text']:focus{
  padding-bottom: 6px;  
  font-weight: 300;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--color-2),var(--color-4));
  border-image-slice: 1;
}

input[type='submit']{
  background-color: var(--color-4);
  color: white;
  font-weight: 500;
  padding: 0.4rem;
  border-radius: 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.btn {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.check {
  width: 30px;
  height: 30px;
  border: 3px solid #333;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.check::before {
  content: '✓';
  font-size: 20px;
  display: none;
}

.done .check::before {
  display: inline;
  text-decoration: line-through 2px solid var(--color-1);
}
